@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
  box-sizing: border-box;
  font-family: "SUSE", sans-serif;
}

header {
  flex-shrink: 0; /* Prevents the header from shrinking */
  height: 80px; /* Or any height of your navbar */
}

main {
  flex-grow: 1; /* Allows the content to take up the remaining space */
}

body, html {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}